.form > *{
    min-width: 300px;
    height: 20px;
    padding: 10px 15px;
    padding-right: calc(var(--clear-width) + 15px);
    border: var(--border) solid;
    border-color: var(--color-lightgray);
    border-radius: var(--border-radius);
    font-size: var(--font-size-medium);
    font-family: var(--font-family-main);
    outline: none;

}